.agents/skills/document-skills/pptx/ooxml/schemas/ISO-IEC29500-4_2016/vml-presentationDrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:office:powerpoint"
  targetNamespace="urn:schemas-microsoft-com:office:powerpoint" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xsd:element name="iscomment" type="CT_Empty"/>
  <xsd:element name="textdata" type="CT_Rel"/>
  <xsd:complexType name="CT_Empty"/>
  <xsd:complexType name="CT_Rel">
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
