.agents/skills/document-skills/docx/ooxml/schemas/microsoft/wml-symex-2015.xsd

 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:w12="http://schemas.openxmlformats.org/wordprocessingml/2006/main" elementFormDefault="qualified" attributeFormDefault="qualified" blockDefault="#all" xmlns="http://schemas.microsoft.com/office/word/2015/wordml/symex" targetNamespace="http://schemas.microsoft.com/office/word/2015/wordml/symex">
   <xsd:import id="w12" namespace="http://schemas.openxmlformats.org/wordprocessingml/2006/main" schemaLocation="../ISO-IEC29500-4_2016/wml.xsd"/>
   <xsd:complexType name="CT_SymEx">
     <xsd:attribute name="font" type="w12:ST_String"/>
     <xsd:attribute name="char" type="w12:ST_LongHexNumber"/>
   </xsd:complexType>
   <xsd:element name="symEx" type="CT_SymEx"/>
 </xsd:schema>
